body{
  background-color:#00ff80;
  text-align:center;

}
.name{
  color: aqua;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;

}
.abcd{
  border-radius:50%;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
.a{
  color: black;
  font-size: 50px;
}
footer{
  font-size: 30px;
  color:white;
  text-align: center;
}
